<Project>
	<PropertyGroup>
		<Configuration>Release</Configuration>
		<Platform>Any CPU</Platform>
		<PublishDir>bin\Release\publish\</PublishDir>
		<PublishProtocol>FileSystem</PublishProtocol>
		<TargetFramework>net8.0-windows</TargetFramework>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
		<SelfContained>false</SelfContained>
		<PublishSingleFile>True</PublishSingleFile>
		<PublishReadyToRun>False</PublishReadyToRun>
	</PropertyGroup>
</Project>
